@font-face {
    font-family: Karla;
    font-display: swap;
    src: local('Karla'), url(/templates/bundle/assets/fonts/Karla-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Karla;
    font-display: swap;
    src: local('Karla'), url(/templates/bundle/assets/fonts/Karla-Italic.ttf);
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: Karla;
    font-display: swap;
    src: local('Karla'), url(/templates/bundle/assets/fonts/Karla-Bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: Karla;
    font-display: swap;
    src: local('Karla'), url(/templates/bundle/assets/fonts/Karla-BoldItalic.ttf);
    font-weight: bold;
    font-style: italic;
}

body {
    font-family: 'Karla', Arial, Helvetica, sans-serif, Georgia, serif;
    margin: 0 auto;
    min-height: 100vh;
    max-width: 100vw;
    color: #f8f8f8;
    background: #242424;
    overflow-x: hidden;
}

#header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px;
    position: absolute;
    width: calc(100vw - 40px);
    z-index: 1;
    white-space: nowrap;
}

#name {
    font-size: 30px;
    padding: 2px 17px 9px 4px;
    letter-spacing: -11px;
    -webkit-transform: rotate(-5deg);
        -ms-transform: rotate(-5deg);
            transform: rotate(-5deg);
    font-weight: bold;
    background: #0c0c0c;
    margin-left: 15px;
    -webkit-box-shadow: 5px 10px #888888;
            box-shadow: 5px 10px #888888;
}

#header-content {
    list-style-type: none;
    padding: 0;
    margin: 0 15px;
}

#header-content li {
    display: inline-block;
}

a {
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    padding: 0 10px;
    margin-left: 2px;
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    cursor: pointer;
}

a:hover {
    color: #929fff;
}

/*Footer*/
#footer-wrapper {
    height: 50px;
    text-align: center;
    padding: 25px;
}

#footer-wrapper p {
    margin: 10px 0;
    font-size: 11px;
}
/*Footer*/

/* Mobile Styles */
@media only screen and (max-width: 420px) {
    #body-wrapper {
        width: inherit !important;
        margin: 0 20px !important;
    }

    #header-wrapper {
        -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8);
        -webkit-transition: -webkit-transform ease 0.5s;
        transition: -webkit-transform ease 0.5s;
        -o-transition: transform ease 0.5s;
        transition: transform ease 0.5s;
        transition: transform ease 0.5s, -webkit-transform ease 0.5s;
        width: 100%;
        padding: 0;
    }

    #technology-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center !important;
    }

    #technology-wrapper div {
        width: inherit !important;
    }

    #business-wrapper {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

    h1, h2 {
        font-size: 21px !important;
        margin: 5px 0;
    }

    h3, h4 {
        font-size: 15px;
    }

    p {
        font-size: 13px;
    }

    #monitor {
        -webkit-transform: scale(0.35);
            -ms-transform: scale(0.35);
                transform: scale(0.35);
        margin: -135px 0 -200px 0;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .browser {
        -webkit-transform: scale(0.35);
            -ms-transform: scale(0.35);
                transform: scale(0.35);
        margin: -115px 0 -120px 0;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #laptop {
        -webkit-transform: scale(0.35);
            -ms-transform: scale(0.35);
                transform: scale(0.35);
        margin: -115px 0 -115px 0 !important;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #slider-container {
        -webkit-transform: scale(0.35);
            -ms-transform: scale(0.35);
                transform: scale(0.35);
        margin: -45px 0 -40px 0;
    }

    #problem-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #solution-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #slider-wrapper {
        width: 300px;
        margin: 0 auto;
        height: 250px;
        margin-top: -55px;
    }

    #right-arrow, #left-arrow {
        font-size: 65px !important;
        top: 45px !important;
    }

    #overlay.active {
        z-index: 0 !important;
    }

    #s2.active {
        margin-top: -520px !important;
        margin-left: 0 !important;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 421px) and (max-width: 960px) {
    #body-wrapper {
        width: inherit !important;
        margin: 0 10px !important;
    }

    #header-wrapper {
        -webkit-transform: scale(0.8);
            -ms-transform: scale(0.8);
                transform: scale(0.8);
        -webkit-transition: -webkit-transform ease 0.5s;
        transition: -webkit-transform ease 0.5s;
        -o-transition: transform ease 0.5s;
        transition: transform ease 0.5s;
        transition: transform ease 0.5s, -webkit-transform ease 0.5s;
        width: 100%;
        padding: 0;
    }

    #technology-wrapper {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        text-align: center !important;
    }

    #technology-wrapper div {
        width: inherit !important;
    }

    #business-wrapper {
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

    h1, h2 {
        font-size: 21px !important;
    }

    h4 {
        font-size: 15px;
    }

    p {
        font-size: 13px;
    }

    #monitor {
        -webkit-transform: scale(0.5);
            -ms-transform: scale(0.5);
                transform: scale(0.5);
        margin: -105px 0 -145px 0;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    .browser {
        -webkit-transform: scale(0.5);
            -ms-transform: scale(0.5);
                transform: scale(0.5);
        margin: -95px 0 -95px 0;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #laptop {
        -webkit-transform: scale(0.5);
            -ms-transform: scale(0.5);
                transform: scale(0.5);
        margin: -95px 0 -70px 0 !important;
        -webkit-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }

    #slider-container {
        -webkit-transform: scale(0.5);
            -ms-transform: scale(0.5);
                transform: scale(0.5);
        margin: -45px 0 -40px 0;
    }

    #problem-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #solution-wrapper {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
    }

    #slider-wrapper {
        width: 400px;
        margin: 0 auto;
        height: 255px;
        margin-top: -25px;
    }

    #right-arrow, #left-arrow {
        font-size: 45px !important;
        top: 90px !important;
    }

    #overlay.active {
        z-index: 0 !important;
    }

    #s2.active {
        margin-top: -520px !important;
        margin-left: 0 !important;
    }
}

#body-wrapper {
    margin: 0 auto;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    min-height: calc(100vh - 174px);
}

#work-header-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

#work-header-wrapper h1 {
    margin: 90px 0 12px 0;
    font-size: 40px;
}

#work-header-wrapper h4 {
    margin: 0;
}

#business-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    max-width: 800px;
}

#business-wrapper img {
    width: 730px;
    height: 411px;
    -webkit-box-shadow: none;
            box-shadow: none;
}

#technology-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

#technology-wrapper h3 {
    margin: 10px 0;
    white-space: nowrap;
}

#technology-wrapper div:nth-child(2) {
    padding: 0 75px;
}

#technology-wrapper div {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

#problem-wrapper {
    margin-top: 100px;
}

#solution-wrapper {

}

#body-wrapper p {
    max-width: 800px;
}

img {
    width: 800px;
    height: 419px;
}

h2 {
    font-family: 'Karla', Arial, Helvetica, sans-serif, Georgia, serif;
    font-size: 30px;
}

/*Desktop*/
#monitor {
    width: 730px;
    height: 431px;
    position: relative;
    border: 20px solid #474e5d;
    border-radius: 10px;
}

.camera {
    top: -14px;
    left: 50%;
    width: 7px;
    height: 7px;
    border-radius: 6px;
    background: #a5adbd;
    position: absolute;
}

#monitor-browser {
    max-width: 800px;
    height: 100%;
    background: #ffffff;
    border-radius: 5px;
    position: relative;
}

#monitor-browser #browser-header {
    background: #e9e9e9;
    height: 20px;
    border-radius: 5px 5px 0 0;
}

.buttons {
    position: absolute;
    top: -17px;
    left: -30px;
}

.buttons li {
    display: inline-block;
    list-style: none;
    width: 6px;
    height: 6px;
    border-radius: 6px;
    background: #fc5254;
    margin-right: 6px;
}

.buttons li:nth-child(2) {
    background: #fcae52;
}

.buttons li:nth-child(3) {
    background: #66b34e;
}

#monitor-browser .url {
    position: absolute;
    left: 46px;
    top: 5px;
    height: 11px;
    width: 670px;
    background: #ffffff;
    border-radius: 3px;
}

#monitor .power {
    width: 9px;
    height: 9px;
    border-radius: 9px;
    background: #fcfcfc;
    margin: 6px auto;
}

#stand {
    width: 150px;
    height: 59px;
    margin: 0 auto;
    background: #e8ebf0;
    border-top: 13px solid #e2e2e2;
    border-radius: 0 0 0 0;
}

#stand-footer {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#left-corner {
    border-left: 27px solid transparent;
    border-right: 0 solid transparent;
    border-bottom: 9px solid #e8ebf0;
}

#footer-body {
    width: 161px;
    height: 9px;
    background: #e8ebf0;
}

#right-corner {
    border-right: 27px solid transparent;
    border-left: 0 solid transparent;
    border-bottom: 9px solid #e8ebf0;
}
/*Desktop*/

/*Browser*/
.browser .url {
    width: 741px;
}

.browser #monitor-browser {
    -webkit-box-shadow: 0 3px 6px #000000d6;
            box-shadow: 0 3px 6px #000000d6;
}

.browser #browser-body {
    height: 419px;
}
/*Browser*/

/*Laptop*/
#laptop {
    width: 689px;
    height: 397px;
    background: #fff;
    border: 15px solid #fff;
    border-radius: 10px 10px 0 0;
    position: relative;
    margin: 28px auto 38px auto;
}

#laptop .camera {
    top: -10px;
    background: #aeaeae;
}

#laptop .url {
    width: 630px;
}

#laptop img {
    width: 689px;
    height: 377px;
}

#laptop #laptop-keyboard {
    width: 820px;
    height: 20px;
    border-radius: 0 0 20px 20px;
    background: #fff;
    z-index: 1;
    position: absolute;
    right: -66px;
    bottom: -30px;
}

#laptop #clamp {
    position: absolute;
    width: 100px;
    height: 7px;
    left: 367px;
    border-radius: 0 0 7px 7px;
    background: #c6c6c6;
}
/*Laptop*/

/*Slider*/
#slider-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
}

#slider-container {
    height: 450px;
    position: relative;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    left: -50%;
}

#right-arrow, #left-arrow {
    cursor: pointer;
    font-size: 30px;
    color: white;
    text-shadow: 2px 2px #0000000f;
    position: absolute;
    top: 185px;
    z-index: 3;
    -webkit-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
    padding: 15px;
    width: 13px;
}

#left-arrow:hover, #right-arrow:hover {
    font-size: 34px;
}

#left-arrow {
    left: 136px;
}

#right-arrow {
    left: 615px;
}

.slide {
    position: absolute;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    z-index: -2;
    left: 0;
}

#s1 {
    position: absolute;
    z-index: -1;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    left: -200px;
}

#s2 {
    position: absolute;
    z-index: 1;
    -webkit-transform: scale(0.67);
        -ms-transform: scale(0.67);
            transform: scale(0.67);
    left: 0;
    -webkit-transition: all ease 1s;
    -o-transition: all ease 1s;
    transition: all ease 1s;
    cursor: pointer;
}

#s2:hover {
    -webkit-transform: scale(0.7);
        -ms-transform: scale(0.7);
            transform: scale(0.7);
}

#s2.active {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    position: fixed;
    z-index: 20;
    top: 50%;
    left: 50%;
    margin-top: -240px;
    margin-left: -440px;
    -webkit-transition: -webkit-transform ease 0.5s;
    transition: -webkit-transform ease 0.5s;
    -o-transition: transform ease 0.5s;
    transition: transform ease 0.5s;
    transition: transform ease 0.5s, -webkit-transform ease 0.5s;
    cursor: default;
}

#s3 {
    position: absolute;
    z-index: 0;
    -webkit-transform: scale(0.5);
        -ms-transform: scale(0.5);
            transform: scale(0.5);
    left: 200px;
}

#overlay {
    opacity: 0;
    height: 100vh;
    width: 100vw;
    background: #000000d6;
    z-index: -2;
    position: fixed;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
}

#overlay.active {
    opacity: 1;
    z-index: 5;
}
/*Slider*/

/* URL */
#site-url-wrapper {
    width: 100%;
    text-align: center;
    height: 100px;
}

#site-url-wrapper a {
    padding: 20px;
}

#site-url-wrapper button {
    border: none;
    outline: none;
    color: #fff;
    background: #3f4e97;
    font-family: 'Karla', Arial, Helvetica, sans-serif, Georgia, serif;
    padding: 15px;
    -webkit-transition: all ease 0.5s;
    -o-transition: all ease 0.5s;
    transition: all ease 0.5s;
    cursor: pointer;
}

#site-url-wrapper a button:hover {
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
/* URL */